# SD card image for Cool PI 4b

image boot.vfat {
	vfat {
		files = {
			"Image",
			"rk3566-box-demo.dtb",
			"extlinux"
		}
	}
	size = 64M
}

image sdcard.img {
	hdimage {
		partition-table-type = "hybrid"
	}

	partition boot {
		partition-type = "0xC"
		bootable = "true"
		image = "boot.vfat"
	}

	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext2"
	}
}
